---
layout: archive
title: "People"
permalink: /people/
author_profile: true
---

{% include base_path %}

<h2>Current Students</h2>
<ul>
  {% for post in site.portfolio %}
    {% if post.status == "current" %}
      <li>
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
        <div>{{ post.excerpt | markdownify }}</div>
      </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>Alumni</h2>
<ul>
  {% for post in site.portfolio %}
    {% if post.status == "alumni" %}
      <li>
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
        <div>{{ post.excerpt | markdownify }}</div>
      </li>
    {% endif %}
  {% endfor %}
</ul>

  
<!-- {% include base_path %}


{% for post in site.people %}
  {% include archive-single.html %}
{% endfor %} -->
