---
layout: archive
permalink: /news/
title: "News"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

<b>12. Prof. Liang's lab 2st Group outing @Highland Bowl, Corvallis and Lunch @ American Dream Pizza in Corvallis, Oct 2025</b><br/>
<img src='/images/GroupActivity2.jpg' width='250' height='250'>
<img src='/images/GroupActivity2-2.jpg' width='250' height='250'>
<br/>
<br/>

<b>11. Prof. Liang's paper "Closed-loop recycling of mixed polyesters via catalytic methanolysis and monomer separations" is published on Nature Chemical Engineering, Sep 2025. Check it out in the Publication Page </a></b><br/>
<br/>

<b>10. Ben and Roman presented their CWI REU reseasrch work at the Clean Water Symposium, Augsut 2025</b>
<img src='/images/CWI2025.jpg' width='500' height='500'>
<br/>
<br/>

<b>9. Prof. Liang's Group hosted two high school students, Aadya from California and Adler from Nevada, in the lab for a one-week research activity via the OSU SESEY program, July 2025</b><br/>
<img src='/images/SESEY2025_liang.jpg' width='250' height='250'>
<img src='/images/SESEY2025_group.jpg' width='250' height='250'>
<br/>
<br/>

<b>8. Ethan and Ethan presented their URSA Engage Program research work, respectively, May 2025</b><br/>
<img src='/images/URSA_EthanTammar.jpeg' width='300' height='300'>
<img src='/images/EthanTichenor.jpeg' width='200' height='200'>
<br/>
<br/>

<b>7. Sydnee presented her Johnson Summer Internship research work at the Johnson Symposium, Feb 2025</b>
<img src='/images/JOHNSON_Sydnee.jpg' width='500' height='500'>
<br/>
<br/>

<b>6. Prof. Liang's group celebration of the Chinese New Year in Corvallis, 01/29/2025</b>
<img src='/images/NewYear2025.jpg' width='500' height='500'>
<br/>
<br/>

<b>5. Prof. Liang's paper "Mixed polyester recycling can enable a circular plastic economy with environmental benefits" was published on One Earth, Dec 2024. Check it out in the Publication Page </a></b><br/>
<br/>

<b>4. Prof. Liang's group received a research grant from the Sun Grant Program -- Western Region (U.S. Department of Agriculture), Dec 2024 </a></b><br/>
<br/>

<b>3. Prof. Liang's group welcome Vy and Diego to do their first research rotation in our research group, Sep 2024</b><br/>
<br/>

<b>2. Jacob presented his Clean Water RUI Summer Internship research work at the Clean Water Showcase Poster Session, Fall 2024</b><br/>
<img src='/images/CWI_Jacob.jpg' width='500' height='500'>
<br/>
<br/>

<b>1. Prof. Liang's lab 1st Group Hike @Chip Ross Park and Lunch @ American Dream Pizza in Corvallis, Fall 2024</b>
<img src='/images/GroupActivity1.jpg' width='500' height='500'>

<!-- {% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %} -->
